body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:rgb(64, 60, 90);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cars {
width: 400px;
padding: 10px;
margin: 5px auto;
background: linear-gradient(45deg, rgb(176, 178, 227), rgb(167, 229, 206));
}

.title {
  color: green;
}

h1.styled {
  color: red;
  text-transform: uppercase;
}